upstream {{ .ClusterName }}_{{ .Namespace }}_{{ .Service }} {
    {{- range .Endpoints }}
    server {{ . }}:{{ $.NodePort }};
    {{- end }}
}

server {
    listen {{ .IP }}:{{ .ServicePort }};
    proxy_pass {{ .ClusterName }}_{{ .Namespace }}_{{ .Service }};
}
