upstream {{ .ClusterName }}_{{ .Namespace }}_{{ .Service }} {
    {{- range .Endpoints }}
    server {{ . }}:{{ $.ServicePort }};
    {{- end }}
}

server {
    listen {{ .IP }}:{{ .ServicePort }};
    location / {
        proxy_pass http://{{ .ClusterName }}_{{ .Namespace }}_{{ .Service }};
    }
}
